.test {
    padding: 1px solid;
    ul {
        li {
            a {
                color: greenyellow;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}