body, html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.test {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:  100%;
        
        li {
            a {
                color: greenyellow;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}