body, html {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.test {
    padding: 1px solid;
    ul {
        li {
            a {
                color: greenyellow;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}